<!DOCTYPE html>
<html>

<head>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    
    <link href="assets/css/style.css" rel="stylesheet">

    <title>
        <%= title %>
    </title>

    <!-- ======= Navbar ======= -->
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">RECIPES.</a>
            <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
                <span></span>
            </a>
        </div>
    </nav>
    <!-- ======= Collapse Nav ======= -->
    <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
        <div class="container py-2 py-md-5">
            <div class="row align-items-start">
                <% if (usercode === "customer") { %>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li><a href="/order/history">Order History</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li><a href="/basket">Basket</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                <% } else if (usercode === "company") { %>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                <% } else { %>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2">
                        <ul class="custom-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</head>

<body>
    <section class="section site-portfolio">
        <div class="container">
            <div class="row">
                <% if (usercode === "customer") { %>
                    <div class="col-md-6">
                        <h2>개인정보 조회</h2>
                        <form action="/mypage" method="post">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>이름</td>
                                        <td><%= mypage[0].customer_name %></td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td><%= mypage[0].customer_email %></td>
                                    </tr>
                                    <tr>
                                        <td>휴대전화</td>
                                        <td><input type="text" id="new_phone" name="new_phone" placeholder="010-xxxx-xxxx"
                                                pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" value="<%= mypage[0].customer_phone %>" /></td>
                                    </tr>
                                    <tr>
                                        <td>주소(배송지)</td>
                                        <td><input type="text" id="new_address" name="new_address"
                                                value="<%= mypage[0].customer_destination %>" /></td>
                                    </tr>
                                    <tr>
                                        <td>잔여 포인트</td>
                                        <td><p id="current"><%= mypage[0].customer_point %></p></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="btn btn-primary" type="submit" formmethod="POST"">개인정보 수정</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class=" col-md-2">
                    </div>
                    <div class="col-md-3">
                        <h2>포인트 충전</h2>
                        <input type="number" id="point" name="point" />
                        <button class="btn btn-primary" type="submit" onclick="addPoint()">포인트 추가</button>
                    </div>
                <% } else if (usercode === "company") { %>
                    <div class="col-md-6">
                        <h2>판매자 정보 조회</h2>
                        <form action="/mypage" method="post">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>회사 이름</td>
                                        <td><%= mypage[0].company_name %></td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td><%= mypage[0].company_email %></td>
                                    </tr>
                                    <tr>
                                        <td>휴대전화</td>
                                        <td><input type="text" id="new_tel" name="new_tel" placeholder="010-xxxx-xxxx"
                                                pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" value="<%= mypage[0].company_tel %>" /></td>
                                    </tr>
                                    <tr>
                                        <td>판매액</td>
                                        <td><p id="income"><%= mypage[0].company_income %></p></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="btn btn-primary" type="submit" formmethod="POST"">정보 수정</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                <% } else { %>
                    <div class="col-md-6">
                        <h2>판매자 정보 조회</h2>
                        <form action="/mypage" method="post">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>관리자 이름</td>
                                        <td><%= mypage[0].admin_name %></td>
                                    </tr>
                                    <tr>
                                        <td>이메일</td>
                                        <td><%= mypage[0].admin_email %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </section>

    <script>
        function addPoint() {
            const amount = document.getElementById("point").value;
            const current = document.getElementById("current").innerHTML;

            let updatePoint = (amount) => {
                axios.patch('http://localhost:3030/mypage/point', {
                    amount: amount,
                    current: current
                })
                    .then(response => {
                        alert("포인트가 추가되었습니다.");
                        window.location.reload();
                    })
                    .catch(error => console.error(error));
            };
            updatePoint(amount);
        }
    </script>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Footer -->
    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>