<!DOCTYPE html>
<html>

<head>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">

    <title>
        <%= title %>
    </title>

    <!-- ======= Navbar ======= -->
    <nav class="navbar navbar-light custom-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">RECIPES.</a>
            <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
                <span></span>
            </a>
        </div>
    </nav>
    <!-- ======= Collapse Nav ======= -->
    <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
        <div class="container py-2 py-md-5">
            <div class="row align-items-start">
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <ul class="custom-menu">
                        <li><a href="/basket">Basket</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="custom-menu">
                        <li><a href="/mypage">My Page</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="custom-menu">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</head>

<body>
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="item web col-sm-12">
                    <a class="item-wrap fancybox">
                        <div class="work-info">
                            <h3><%= product_detail[0].product_item_name %></h3>
                        </div>
                        <img class="img-fluid" src="assets/img/<%= product_detail[0].product_image %>">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" id="company_id" name="company_id" value="<%= product_detail[0].company_id %>">
                        <input type="hidden" id="id" name="id" value="<%= product_detail[0].product_id %>">
                        <tr>
                            <td>품목</td>
                            <td><%= product_detail[0].category_name %></td>
                        </tr>
                        <tr>
                            <td>제품명</td>
                            <td><%= product_detail[0].product_item_name %></td>
                        </tr>
                        <tr>
                            <td>가격</td>
                            <td><p id="price"><%= product_detail[0].product_price %></p></td>
                        </tr>
                        <tr>
                            <td>평점</td>
                            <td><%= product_detail[0].product_avg_score %></td>
                        </tr>
                        <tr>
                            <td>수량</td>
                            <td><input type="number" id="quantity" name="quantity" /></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-primary" onclick="basketButton()">장바구니 담기</button></td>
                            <td><button class="btn btn-primary" onclick="orderDirectButton()">즉시 구매</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function basketButton() {
            const quantity = document.getElementById("quantity").value;
            const product_id = document.getElementById("id").value;
            const price = document.getElementById("price").innerHTML;
            console.log(quantity, product_id, price);
            let addToBasket = () => {
                axios.post('http://localhost:3030/basket', {
                    product_id: product_id,
                    quantity: quantity,
                    price: price
                })
                    .then(response => {
                        alert("장바구니에 추가되었습니다.");
                        window.location = "/"
                    })
                    .catch(error => console.error(error));
            }
            addToBasket();
        }
        function orderDirectButton() {
            const quantity = document.getElementById("quantity").value;
            const product_id = document.getElementById("id").value;
            const price = document.getElementById("price").innerHTML;
            const company_id = document.getElementById("company_id").value;
            let order_price = parseInt(quantity) * parseInt(price);
            let data = [{
                    product_id: product_id,
                    order_quantity: quantity,
                    order_price: order_price,
                    company_id: company_id
                }];
            let orderDirect = () => {
                axios.post("http://localhost:3030/order", data)
                    .then(response => {
                        alert("주문이 완료되었습니다.");
                        window.location = "/"
                    })
                    .catch(error => console.error(error));
            }
            orderDirect();
        }
    </script>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Footer -->
    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>